.page4 {
    width: 1736px;
    height: 585px;
    flex-shrink: 0;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    position: relative;
}

.title4 {
    width: 300px;
    height: 59px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title4 p {
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'El Messiri';
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.info1 {
    width: 500px;
    height: 276px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--accent, #018ABE);
    position: absolute;
    top: 196px;
    left: 0;
    opacity: 0.5;
}

.info1 h3 {
    width: 410px;
    color: var(--white, #FFF);
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    position: absolute;
    top: 40px;
    left: 45px;
}

.info1 p {
    width: 410px;
    color: var(--white, #FFF);
    font-family: 'Proxima Nova';
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    position: absolute;
    top: 77px;
    left: 45px;
}

.info2 {
    width: 500px;
    height: 276px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--accent, #018ABE);
    position: absolute;
    top: 196px;
    transform: scale(1.272);
}

.info2 h3 {
    width: 410px;
    color: var(--white, #FFF);
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    position: absolute;
    top: 40px;
    left: 45px;
}

.info2 p {
    width: 410px;
    color: var(--white, #FFF);
    font-family: 'Proxima Nova';
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    position: absolute;
    top: 77px;
    left: 45px;
}

.info3 {
    width: 500px;
    height: 276px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--accent, #018ABE);
    position: absolute;
    top: 196px;
    right: 0;
    opacity: 0.5;
}

.info3 h3 {
    width: 410px;
    color: var(--white, #FFF);
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    position: absolute;
    top: 40px;
    left: 45px;
}

.info3 p {
    width: 410px;
    color: var(--white, #FFF);
    font-family: 'Proxima Nova';
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    position: absolute;
    top: 77px;
    left: 45px;
}

.page4 .controls {
    width: 124px;
    height: 16px;
    position: absolute;
    top: 569px;

}
